{% extends '::base.html.twig' %}

{% block body -%}
    {% block content %}
        <div class= "contenu" align ="center">
            <h1>Liste des Films en Dvdrip</h1>
            <div class ="contenuadmin">
                <table class="records_list">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Duree</th>
                            <th>Date</th>
                            <th>Synopsis</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('swater_land_dvdrip_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                            <td>{{ entity.nom }}</td>
                            <td>{{ entity.duree }}</td>
                            <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ entity.synopsis }}</td>
                            <td>
                            <ul>
                                <li>
                                    <a href="{{ path('swater_land_dvdrip_show', { 'id': entity.id }) }}">Voir sa fiche</a>
                                </li>
                                <li>
                                    <a href="{{ path('swater_land_dvdrip_update', { 'id': entity.id }) }}">Mise à Jour</a>
                                </li>
                            </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                    <ul>
                    <li>
                        <a href="{{ path('swater_land_dvdrip_new') }}">
                            Création d'un film en Dvdrip
                        </a>
                    </li>
                </ul>
            </div>
    {% endblock %}
{% endblock %}
