
{% extends '::base.html.twig' %}

{% block title %}Dvdrip{% endblock %}


{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% block content %}
        <div class= "contenu" align ="center">

        <article class="contenufull">
            <section>

                <table>

                    {% for dvdrip in dvdrips %}
                        <div class="memegenre">
                            <div id="titre">
                                <h1>
                                    Vous aimeriez aussi :
                                </h1>
                            </div>
                            {% for memegenre in memegenres %}
                                {% for genre in memegenre.genres %}
                                    {% for mgenre in dvdrip.genres %}
                                        {% if genre.genre == mgenre.genre %}
                                            {% if memegenre.nom != dvdrip.nom %}
                                                <div class="cover_global" style="height:275px;">
                                                    <div id="infotitle">
                                                        <div class="content">
                                                            <div class="image">
                                                                <a href='{{ memegenre.id }}/{{ memegenre.nom }}'><img src="{{ memegenre.image }}" />
                                                            </div>
                                                            <div class="name">
                                                                {{ memegenre.nom }}
                                                                </a>
                                                            </div>
                                                            <div class="date">
                                                                {{ memegenre.date|date('Y-m-d') }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div id="titre">
                            <h1>
                                {{ dvdrip.nom }}
                            </h1>
                        </div>
                        </br>
                        <div>
                            <img src="{{ dvdrip.image }}"/>
                        </div>
                        </br> </br> </br>
                        <img src="{{ asset('http://img.streetprez.com/fr_FR/noir/information_film.png') }}">
                        <div>
                            Réalisateurs :
                            {% for realisateur in dvdrip.realisateurs %}
                                {{ realisateur.realisateur }}
                            {% endfor %}
                        </div>
                        <div>
                            Acteurs et Actrices :
                            {% for acteur in dvdrip.acteurs %}
                                {{ acteur.acteur }}
                            {% endfor %}
                        </div>
                        <div>
                            Origine :
                            {% for origine in dvdrip.origines %}
                                {{ origine.origine }}
                            {%  endfor %}
                        </div>
                        <div>
                            Genre :
                            {% for genre in dvdrip.genres %}
                                {{ genre.genre }}
                            {%  endfor %}
                        </div>
                        <div>
                            Qualitée : Dvdrip
                        </div>
                        <div>
                            Date de sortie : {{ dvdrip.date|date('d/m/Y') }}
                        </div>
                        </br> </br> </br>
                        <img src="{{ asset('http://img.streetprez.com/fr_FR/noir/synopsis.png') }}">
                        <div class ="contenu">
                            {{ dvdrip.synopsis }}
                        </div>
                        </br> </br> </br>
                        <div>
                            <a href="/../../sitestreaming/web/dvdrip/{{ dvdrip.nom }}.avi"  ><h3>Regardez >> </h3></a>  <br>
                        </div>
                        </br></br>
                        {% for commentaire in commentaires %}
                            {% if commentaire.dvdripsid == dvdrip %}
                                <div class="panel panel-primary">
                                    <div class="panel-heading">Edit Par :{{ commentaire.usersid }} Créé Le : {{ commentaire.updated|date('Y-m-d H:i:s') }}</div>
                                    <div class="panel-body">{{ commentaire.commentaire|raw }}</div>
                                </div>
                                </br>
                            {% endif %}
                        {% endfor %}

                        <form name="swaterland_commentairebundle_commentaire" method="post" action="/swaterland/web/app_dev.php/commentaire/admincommentaire/create">


                            <div id="swaterland_commentairebundle_commentaire"><div>

                                    {#<label for="swaterland_commentairebundle_commentaire_updated" class="required">Updated</label>#}<input id="swaterland_commentairebundle_commentaire_updated" name="swaterland_commentairebundle_commentaire[updated]" required="required" value="{{ "now"|date('Y-m-d H:i:s', 'Europe/Paris') }}" type="text" style="visibility: hidden; display: none;"></div>
                                {#<div>#}
                                {#<label for="swaterland_commentairebundle_commentaire_seriesid" class="required">Serie</label>#}
                                <select id="swaterland_commentairebundle_commentaire_dvdripsid" name="swaterland_commentairebundle_commentaire[dvdripsid]" style="visibility: hidden; display: none;">
                                    <option value="{{ dvdrip.id }}" selected="selected">{{ dvdrip.id }}</option></select></div><div>
                                {#<label for="swaterland_commentairebundle_commentaire_usersid">Username</label>#}
                                <select id="swaterland_commentairebundle_commentaire_dvdripsid" name="swaterland_commentairebundle_commentaire[dvdripsid]" style="visibility: hidden; display: none;">
                                    <option value="{{ app.user.id }}" selected="selected">{{ app.user.username }}</option>

                                </select></div><div>
                                {#<label for="swaterland_commentairebundle_commentaire_validiter" class="required">Validiter</label>#}
                                <input id="swaterland_commentairebundle_commentaire_validiter" name="swaterland_commentairebundle_commentaire[validiter]" required="required" value="1" type="checkbox" checked="checked" style="visibility:hidden" ></div><div>
                                <label for="swaterland_commentairebundle_commentaire_commentaire" class="required">Commentaire</label>
                                <textarea id="swaterland_commentairebundle_commentaire_commentaire" name="swaterland_commentairebundle_commentaire[commentaire]" style="visibility: hidden; display: none;"></textarea>

                                <script type="text/javascript" src="/swaterland/web/bundles/ivoryckeditor/ckeditor.js"></script>
                                <script type="text/javascript">

                                    CKEDITOR.replace("swaterland_commentairebundle_commentaire_commentaire", {"uiColor":"#ffffff","language":"fr"});


                                </script>

                                <button class="btn btn-primary" type="submit" id="swaterland_commentairebundle_commentaire_submit" name="swaterland_commentairebundle_commentaire[submit]">Create</button></div>
                            <input id="swaterland_commentairebundle_commentaire__token" name="swaterland_commentairebundle_commentaire[_token]" value="{{ csrf_token('swaterland_commentairebundle_commentaire') }}" type="hidden"></div>

                        </form>
                        </br>
                    {% endfor %}
                </table>
            </section>
        </article>
    {% endblock %}
    {% else %}
        <div class= "contenu" align ="center">
        <a href="{{ path('fos_user_security_login') }}">Connectez-vous </a>
    {% endif %}
{% endblock %}