{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Commentaire</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ entity.commentaire|raw }}</td>
            </tr>
            <tr>
                <th>Validiter</th>
                <td>{{ entity.validiter }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ entity.updated|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('swater_land_commentaire_homepage') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('swater_land_commentaire_update', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
